<template>
	<div>
		<div class="count">{{ pval }}</div>
		<button v-on:click="addValueChild()">数値カウンター</button>
	</div>
</template>

<script>
	export default {
		props: ['pval'],
		methods: {
			addValueChild() {
				this.$emit('add', 1);
			}
		}
	}
</script>

<style>
	body{
		width: 500px;
		margin: 0 auto;
		text-align: center;
	}
	.count{
		font-size: 300px;
		font-weight: bold;
		color: red;
	}
</style>