<template>
	<div>
		<h3>PageOne</h3>
		<router-link to="/PageTwo">PageTwo</router-link>
		<button v-on:click="toPageTwo()">ToPageTwo</button>
	</div>
</template>

<script>
	export default {
		methods: {
			toPageTwo() {
				this.$router.push('/PageTwo');
			}
		},
		created() {
			alert('PageOne created');
		}
	}
</script>