<template>
  <div>
	<h3>{{ title }}</h3>
	<ul>
		<li><a v-bind:href="url1" target="_blank">Vue</a></li>
		<li><a v-bind:href="url2" target="_blank">Vuetify</a></li>
	</ul>
  </div>
</template>

<script>
export default {
	data() {
		return {
			title: 'Vue sites',
			url1: 'https://vuejs.org/',
			url2: 'https://vuetifyjs.com/'
		}
	}
}
</script>