<template>
  <child v-bind:pval="parentValue" v-on:add="addValueParent($event)"></child>
</template>

<script>
import Child from './components/Child'

export default {
  data() {
    return {
      parentValue: 0
    }
  },
  components: {
    'child': Child
  },
  methods: {
    addValueParent(value) {
      this.parentValue += value;
    }
  }
}
</script>
