<template>
  <div>
    <button v-on:click="onClick()">click</button>
    {{ clickResult }}
    <br>
    <input v-on:change="onChange($event)" placeholder="change">
    {{ changeResult }}
    <br>
    <input @input="onInput($event)" placeholder="input">
    {{ inputResult }}
    <br>
    <input @keyup="onKeyup($event)" placeholder="keyup">
    {{ keyupResult }}
    <br>
    <input v-model="vmodelResult" placeholder="v-model">
    {{ vmodelResult }}
  </div>
</template>

<script>
export default {
  data() {
    return {
      clickResult: 'Click Me!',
      changeResult: 'change',
      inputResult: 'input',
      keyupResult: 'keyup',
      vmodelResult: 'v-model'
    }
  },
  methods: {
    onClick() {
      this.clickResult = 'Clicked';
    },
    onChange(e) {
      this.changeResult = e.target.value;
    },
    onInput(e) {
      this.inputResult = e.target.value;
    },
    onKeyup(e) {
      this.keyupResult = e.target.value;
    },
  }
}
</script>
