<template>
  <ul>
    <li v-for="todo in todos" v-bind:key="todo.id">
    {{ todo.text }}
    <button v-on:click="deleteTodo(todo.id)">削除</button>
    </li>
  </ul>
</template>

<script>
export default {
  data() {
    return {
      todos: [
        { id: '1', text: 'todo1' },
        { id: '2', text: 'todo2' },
        { id: '3', text: 'todo3' },
        { id: '4', text: 'todo4' },
        { id: '5', text: 'todo5' },
      ]
    }
  },
  methods: {
    deleteTodo(id) {
      this.todos = this.todos.filter((todo) => todo.id !== id);
    }
  }
}
</script>

